// Colors
$dark-blue: #225193;
$light-blue: #479cd5;
$main-yellow: #ffdb00;
$orange-hero: #ff9d00b4;
$main-orange: rgb(253, 156, 20);
$main-white: #eee;
$main-black: rgb(0 0 0);

// Typography
$f-montserrat: "Montserrat", sans-serif;